.container {
	background-color: var(--bg-tag, var(--bg-column));
	color: var(--text-tag, inherit);
	display: inline-flex;
	width: 40px;
	height: 8px;
	border-radius: var(--radius-xxl);
	flex-shrink: 0;
	transition:
		width 300ms ease,
		padding 300ms ease,
		height 500ms ease,
		border-radius 500ms ease,
		filter 100ms ease;
}
.container:hover {
	filter: brightness(1.1);
}
.text {
	align-self: center;
	text-overflow: ellipsis;
	overflow: hidden;
	text-wrap-mode: nowrap;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	opacity: 0;
	transition: opacity 0ms;
	pointer-events: none;
}

/* FULL Tag variant */
.container.full {
	width: fit-content;
	max-width: 100%;
	min-width: 56px;
	height: 16px;
	padding: 0 var(--space-2);
	border-radius: var(--radius-sm);
}
.container.full .text {
	opacity: 1;
	pointer-events: auto;
	transition-delay: 300ms;
}

/* NORMAL Text variant */
.container.full.text-normal .text {
	font-size: 14px;
	line-height: 18px;
	height: 18px;
}
