.input {
	width: auto;
	field-sizing: content;
	min-width: 2ch;
	max-width: 100%;
}

.button {
	border: none;
	cursor: pointer;
	background: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	outline: none;
	text-align: inherit;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
