.inputComponent.inputComponent {
	field-sizing: content;
	max-width: 100%;
	min-width: 2ch;
}

.inputComponent.inputComponent,
.text {
	line-height: var(--leading-tight, 1.25rem);
	align-self: baseline;
	display: block;
}
