.wrapper {
	display: grid;
}
.grid {
	grid-row: 1;
	grid-column: 1;
}

.inactive {
	opacity: 0;
	background: transparent;
	z-index: -1;
}
.active {
	z-index: 1;
}

.mockComponent.mockComponent {
	margin: 0;
	padding: 0;
	transform: none;
}

.common.common {
	field-sizing: content;
	max-width: 100%;
	min-width: 2ch;
}

.input {
	font: inherit;
}
.display {
	appearance: auto;
}
