.pageContainer {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--bg-app);

	background-image: radial-gradient(
		var(--border-light) 2px,
		transparent 2px
	);
	background-size: 30px 30px;
}

.pageContainer > * {
	margin-top: 10vh;
}
