.buttonBase {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	text-align: inherit;

	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	outline-offset: 2px;
}

.buttonBase:focus-visible {
	outline: 2px solid currentColor;
}

.buttonBase:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.buttonBase:focus:not(:focus-visible) {
	outline: none;
}
