.heading {
	margin: var(--space-2) var(--space-1);
	line-height: var(--leading-tight);
}

.noMargin {
	margin: none;
}

.primary {
	color: var(--text-title);
}

.h1 {
	margin: var(--space-4) var(--space-2);
	font-size: var(--text-3xl);
	font-weight: var(--font-bold);
}

.h2 {
	font-size: var(--text-2xl);
	font-weight: var(--font-bold);
}

.h3 {
	font-size: var(--text-xl);
	font-weight: var(--font-medium);
}

.h4 {
	font-size: var(--text-lg);
	font-weight: var(--font-medium);
}
