.checkbox {
	width: var(--space-5);
	height: var(--space-5);
	border-radius: 50%;
	border: 2px solid var(--border);
	background-color: transparent;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	transition: all 200ms ease-in-out;
	flex-shrink: 0;
}

.checkbox:hover {
	border-color: var(--border-focus);
	background-color: var(--brand-50);
}

.checked {
	background-color: var(--color-success);
	border-color: var(--color-success);
}

.checked:hover {
	background-color: var(--color-success-hover);
	border-color: var(--color-success-hover);
}

.checkIcon {
	color: #fff;
	opacity: 0;
	transform: scale(0.5);
	transition: all 200ms ease-in-out;
}

.checked .checkIcon {
	opacity: 1;
	transform: scale(1);
}
