.toggleBtn {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	text-align: inherit;

	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	outline-offset: 2px;
}
.toggleBtn:hover {
	background-image: linear-gradient(
		var(--black-alpha-20),
		var(--black-alpha-20)
	);
}

.toggled {
	background-color: var(--bg-dark);
	color: #fff;
}

.toggleBtn:focus-visible {
	outline: 2px solid currentColor;
}

.toggleBtn:disabled {
	cursor: not-allowed;
	opacity: 0.6;
	pointer-events: none;
}

.toggleBtn:focus:not(:focus-visible) {
	outline: none;
}
