button.base {
	padding: calc(var(--space-1) + 2px);
	border-radius: var(--radius-sm);
	color: var(--gray-500);
	transition:
		background-color 100ms ease,
		color 100ms ease;
}

button.base:hover {
	background-color: var(--black-alpha-10);
	color: var(--gray-800);
}

button.base:active {
	background-color: var(--black-alpha-20);
	color: var(--gray-800);
}
