.popover {
	position: absolute;
	width: 300px;

	z-index: 50;
	background-color: #fff;
	border-radius: var(--radius-md);
	box-shadow: var(--shadow-md);
	border: 1px solid var(--border-light);

	min-width: 250px;
	padding: var(--space-4);
	animation: popIn 200ms ease-out;
}

.right {
	top: 0;
	left: 100%;
	margin-left: var(--space-2);
}

.bottom {
	top: 100%;
	left: 0;
	margin-top: var(--space-2);
}

@keyframes popIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
