.wrapper {
	display: flex;
	gap: var(--space-2);
	border: 1px solid var(--border);
	padding: var(--space-1) var(--space-2);
	border-radius: var(--radius-sm);
}

.no-border {
	padding: none;
	border: none;
}
