.button {
	border: none;
	cursor: pointer;
	padding: var(--space-3) var(--space-2);
	transition: background-color 200ms ease-in;
	font-size: var(--text-base);
	font-weight: var(--font-bold);
}

.primary {
	background-color: var(--color-primary);
	color: white;
	border-radius: var(--radius-sm);
}

.primary:hover {
	background-color: var(--color-primary-hover);
}

.primary:active {
	background-color: var(--color-primary-active);
	transform: scale(1.02);
}
