.button {
	border: none;
	cursor: pointer;
	padding: var(--space-3);
	transition: background-color 200ms ease-in;
	font-size: var(--text-base);
	font-weight: 600;
	font-family: system-ui, -apple-system, BlinkMacSystemFont,
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.primary {
	background-color: var(--color-primary);
	color: white;
	border-radius: var(--radius-sm);
}

.primary:hover {
	background-color: var(--color-primary-hover);
}

.primary:active {
	background-color: var(--color-primary-active);
	transform: scale(1.02);
}

.primary:disabled {
	cursor: not-allowed;
	background-color: var(--color-primary-disabled);
	transform: none;
	transition: none;
}
