.button {
	border: none;
	cursor: pointer;
	padding: var(--space-3);
	font-size: var(--text-base);
	font-weight: 600;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}
.button:hover {
	background-image: linear-gradient(var(--black-alpha-10));
}
.button:active {
	background-image: linear-gradient(var(--black-alpha-20));
	transform: scale(1.02);
}
.button:disabled {
	cursor: not-allowed;
	background-image: linear-gradient(var(--white-alpha-40));
	transform: none;
	transition: none;
}

.button-md {
	padding: var(--space-2) var(--space-3);
}

.button-sm {
	padding: var(--space-1) var(--space-2);
}

.primary {
	background-color: var(--color-primary);
	color: white;
	border-radius: var(--radius-sm);
}

.danger {
	background-color: var(--color-danger);
	color: white;
	border-radius: var(--radius-sm);
}
