.form {
	padding: var(--space-2);
	border-radius: var(--radius-md);
}

.header {
	text-align: center;
	margin-bottom: 1rem;
}

.title {
	margin-top: var(--space-4);
}

.cancelBtn {
	padding: 0;
	position: absolute;
	top: var(--space-4);
	right: var(--space-4);
	border: none;
	background-color: inherit;

	transition: transform 300ms ease;
}

.cancelImg {
	width: 25px;
	height: 25px;
}

.cancelBtn:hover {
	background-color: inherit;
	transform: scale(1.1) rotate(90deg);
}

.fieldsContainer {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);
}

.marginTop {
	margin-top: var(--space-2);
}

.backgroundPicker {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.backgroundList {
	overflow-x: auto;
	display: flex;
	gap: var(--space-1);
}

.imageContainer {
	border-radius: var(--radius-md);
	width: calc((100% - (3 * var(--space-1))) / 4);
	height: 40px;
	position: relative;
	cursor: pointer;
}

.imageContainer:hover {
	filter: brightness(0.9);
	transform: scale(0.98);
}

.selected {
	filter: brightness(0.9);
	transform: scale(0.98);
}

.check {
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	filter: invert(1);
}

.image {
	border-radius: var(--radius-md);
	width: 100%;
	height: 100%;
}

.actions {
	margin-top: var(--space-8);
}

.submitBtn {
	width: 100%;
}
