.form {
	background-color: var(--bg-input);
	padding: var(--space-3);
	border-radius: var(--radius-lg);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
	animation: formIn 100ms ease-out;
	transform-origin: top;
}

@keyframes formIn {
	from {
		opacity: 0.2;
		transform: scaleY(0.8);
	}
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

.input {
	padding: var(--space-1) var(--space-2);
}

.actions {
	display: flex;
	gap: var(--space-3);
	background-color: inherit;
}
