.container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.title {
	text-align: center;
}

button.backButton {
	padding: var(--space-1);
	border-radius: var(--radius-sm);
	color: var(--text-primary);
	justify-self: start;
	transition:
		background-color 100ms ease,
		color 100ms ease;
}
button.backButton:hover {
	background-color: var(--black-alpha-10);
	color: var(--gray-800);
}

.container button.closeButton {
	color: var(--text-primary);
	justify-self: end;
}
