.menu {
	display: flex;
	align-items: start;
	flex-direction: column;
	background-color: inherit;
	border-radius: inherit;
	padding: var(--space-2) 0;
	box-shadow: var(--shadow-lg);
}

.menuHeading {
	align-self: center;
}
.menuHeading > * {
	margin-bottom: var(--space-3);
}

.menuContent {
	width: 100%;
}

.group {
	display: flex;
	flex-direction: column;
}

.groupHeading {
	padding-left: var(--space-4);
	margin-left: 0;
}

.item {
	border: none;
	cursor: pointer;
	background: inherit;
	background-color: inherit;
	margin: 0;
	font: inherit;
	color: inherit;
	outline: none;
	text-align: inherit;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	padding: var(--space-1) var(--space-4);
}
.item:hover {
	background-color: var(--bg-card);
}

.separator {
	margin: var(--space-2) 0;
	border: 1px solid var(--border-light);
	width: 100%;
	height: 1px;
}
