@import "./primitives.css";

:root {
	/* Fondos */
	--bg-app: var(--gray-50);
	--bg-card: var(--gray-100);
	--bg-card: #fff;
	--bg-input: #ffffff;
	--bg-input: var(--gray-100);
	--bg-input-hover: var(--gray-200);
	--bg-overlay: rgba(0, 0, 0, 0.5);

	--bg-board: var(--gray-100);
	--bg-board-tab: var(--gray-200);

	--bg-column: var(--gray-200);
	--bg-column-tab: var(--gray-300);

	--bg-task: var(--gray-50);

	/* Textos */
	--text-title: var(--gray-800);
	--text-primary: var(--gray-700);
	--text-secondary: var(--gray-500);
	--text-on-brand: #ffffff;

	/* Bordes */
	--border: var(--gray-300);
	--border-light: var(--gray-200);
	--border-focus: var(--brand-500);

	/* Radius */
	--radius-sm: 2px;
	--radius-md: 6px;
	--radius-lg: 10px;
	--radius-xl: 14px;

	/* Acciones - Primario */
	--color-primary: var(--brand-500);
	--color-primary-hover: var(--brand-600);
	--color-primary-active: var(--brand-700);
	--color-primary-disabled: var(--brand-300);

	/* Acciones - Peligro */
	--color-danger: var(--danger-500);
	--color-danger-hover: var(--danger-600);
	--color-danger-active: var(--danger-700);
	--color-danger-disabled: var(--danger-300);

	/* Acciones - Éxito */
	--color-success: var(--success-500);
	--color-success-hover: #16a34a;
	--color-success-active: #15803d;

	/* Acciones - Advertencia */
	--color-warning: var(--warning-500);
	--color-warning-hover: #d97706;
	--color-warning-active: #b45309;

	/* Sombras */
	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
