.dashboard-container {
	width: calc(100% - 4rem);
	max-width: 800px;
}

.dashboard-header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
	gap: 2rem;
}

.boards-grid {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(200px, 1fr)
	);
	gap: 1rem;

	margin: auto;
}

.boards-grid a {
	text-decoration: none;
	color: inherit;
}

.board-card {
	padding: 1rem;
	border: 1px solid black;
	background-color: #f0f8ff;
	text-align: center;

	transition: background-color 300ms ease;
}

.board-card:hover {
	background-color: #c2c9cf;
	cursor: pointer;
}
